include header.pug
div.hero
    div.slogan
        h2 GLOWIFY AGENCY: #[br] МАРКЕТИНГ, ЩО #[br] ЗАПАЛЮЄ ВАШ 
            span УСПІХ
    div.subheading
        img(src=require(".//img/star.png") alt="Star Image")
        p SMM. БРЕНДИНГ. РЕКЛАМА. СТРАТЕГІЯ
    a.button-primary(href='#form') Отримати консультацію
        

