header
    div.header_logo_menu
        div.logo-container
            img(src=require('.//img/logo.png') alt="logo").logo
        nav.main-menu 
            a(href='index.html') Головна
            a(href='index.html#services') Послуги
            a(href='portfolio.html') Портфоліо
            a(href='index.html#contact') Контакти